---
interface Props {
  articleClass: string;
  imageSrc?: string;
  imageSrcSet?: string;
  imageAlt?: string;
  imageSizes?: string;
  imageWidth?: string;
  imageHeight?: string;
  imageLoading?: 'lazy' | 'eager';
  headerHref?: string;
  headerTarget?: '_blank' | '_self';
  headerRel?: string;
  headerAriaLabel?: string;
}

const {
  articleClass,
  imageSrc,
  imageSrcSet,
  imageAlt = '',
  imageSizes = '(min-width: 720px) 33vw, 100vw',
  imageWidth = '180',
  imageHeight = '144',
  imageLoading = 'lazy',
  headerHref,
  headerTarget,
  headerRel,
  headerAriaLabel,
} = Astro.props as Props;
---

  <div class="c-link-card__container">
    {headerHref ? (
      <a href={headerHref} target={headerTarget} rel={headerRel} aria-label={headerAriaLabel} class="c-link-card__header">
       {imageSrc && (
          <picture class="c-picture c-link-card__media u-overlay u-overlay--strong" style="--image-focal-x: center; --image-focal-y: center;">
            <img
              class="c-picture__image eager"
              sizes={imageSizes}
              src={imageSrc}
              srcset={imageSrcSet}
              height={imageHeight}
              width={imageWidth}
              alt={imageAlt}
              loading={imageLoading}
            />
          </picture>
        )}

        <div class="c-link-card__content">
          <div class="c-label c-link-card__label c-label--square">
            <slot name="badge" />
          </div>
          <slot name="title" />
          <slot name="button" />
        </div>
        </a>
    ) : (
      <div class="c-link-card__header">
        {imageSrc && (
          <picture class="c-picture c-link-card__media u-overlay u-overlay--strong" style="--image-focal-x: center; --image-focal-y: center;">
            <img
              class="c-picture__image eager"
              sizes={imageSizes}
              src={imageSrc}
              srcset={imageSrcSet}
              height={imageHeight}
              width={imageWidth}
              alt={imageAlt}
              loading={imageLoading}
            />
          </picture>
        )}

        <div class="c-link-card__content">
          <div class="c-label c-link-card__label c-label--square">
            <slot name="badge" />
          </div>
          <slot name="title" />
          <slot name="button" />
        </div>
      </div>
    )}

    <slot name="body" />
  </div>
