---
import ResponsiveShareBar from "./ResponsiveShareBar.astro";

interface Props {
  backHref: string;
  backLabel: string;
  iconName: string;
  pageUrl: string;
  shareTitle: string;
  articleClass?: string;
  metaRowClass?: string;
  articleId?: string;
  iconSize?: number;
  heroImageSrc?: string;
  heroImageSrcSet?: string;
  showSummary?: boolean;
}

const {
  backHref,
  backLabel,
  pageUrl,
  shareTitle,
  articleClass = "prose blog-prose text-slate-900",
  articleId,
  heroImageSrc,
  heroImageSrcSet,
  showSummary = false,
} = Astro.props;
---

<section class="layout bound-x section-sm my-8 space-y-8 scheme-dark">
  <div class="c-hero c-hero--medium">
    {heroImageSrc && (
      <picture
        class="c-picture c-picture--cover c-hero__media u-overlay u-overlay--strong"
        style="--image-focal-x: center; --image-focal-y: center;"
      >
        <img
          class="c-picture__image eager"
          sizes="100vw"
          src={heroImageSrc}
          srcset={heroImageSrcSet}
          height="144"
          width="336"
          alt=""
        />
      </picture>
    )}

    <a
      class="c-label c-hero__label c-label--square"
      href={backHref}
      target="_self"
    >
      <span class="c-label__text">{backLabel}</span>
    </a>

    <slot name="header" />
  </div>
</section>

<section class="layout bound-x scheme-default">
  <div class="container-1 grid grid-cols-10 vp9:gap-10">
    {showSummary && (
      <div
        class="hidden vp9:block col-span-full vp9:col-span-3 vp9:col-start-8 vp9:row-start-1"
      >
        <div class="sticky top-4 flex flex-col gap-4">
          <div class="c-summary js-summary">
            <h2 class="c-title c-summary__title typo-h3">Summary</h2>
            <ul class="c-tabs"></ul>
          </div>
        </div>
      </div>
    )}
    <div
      class={`col-span-full vp9:row-start-1 vp9:col-start-1 ${showSummary ? "vp9:col-span-7" : "vp9:col-span-10"}`}
    >
      <div class="c-metadata">
        <p class="c-metadata__inner">
          <span class="c-metadata__info">
            <slot name="author" />
          </span>
          <span class="c-metadata__socials">
            <ResponsiveShareBar url={pageUrl} title={shareTitle} />
          </span>
        </p>
      </div>
      <div>
        <slot name="tags" />
      </div>
      <div class="my-10" id={articleId}>
        <div class={`s-wysiwyg js-image-overlay ${articleClass}`}>
          <slot name="content" />
        </div>
        <div class="c-overlay">
          <button class="c-button--icon-only c-overlay__close c-button"
            ><span class="c-icon c-button__icon c-icon--before">
              <svg
                class="c-icon__asset"
                width="16"
                height="16"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
                aria-hidden="true"
                ><path
                  fill="currentColor"
                  d="M41 39C31.6 29.7 16.4 29.7 7 39S-2.3 63.6 7 73l183 183L7 439c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l183-183L407 473c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-183-183L441 73c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-183 183L41 39z"
                ></path></svg
              ></span
            >
            <span class="c-button__text sr-only">ui.close</span>
          </button><div class="c-overlay__content"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<slot name="meta" />
